{% extends 'layout.html' %} {% block pageTitle %}Enter your password{% endblock
%} {% block header %}{{ header({ transactionalService: { name: "NHS login",
href: "" }, showNav: "false", showSearch: "false" }) }}{% endblock %} {% block
beforeContent %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/v1/login-email">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
      height="24"
      width="24"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Back to: Enter your email address</a
  >
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Enter your password</h1>
    <p>Enter your password to log in.</p>
    <form action="/v1/screening">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="password">Password</label>
        <input
          class="nhsuk-input"
          id="password"
          name="password"
          type="password"
        />
      </div>
      <p><a href="#">Reset your password</a>, if you cannot remember it.</p>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
